$sunpri:#AF8946;
$sunsec: #ECBA64;
$rainpri:#577483;
$rainsec:#82A5C0;
$cloudpri:#616d75;
$cloudsec:#95a3ad;
$pri : $cloudpri; //php here
$sec : $cloudsec; //php here to

$bordercard:0.4rem;
.text { font-size: 1rem ;}
.bg-sunny{
	background-color: #FFFFAD;
	background: url("../images/sunny.jpg") top left;
	background-size: cover;
	.card {
		color: $sunpri;
		border-color: $sunsec;
		border: 4px solid;
		border-radius: $bordercard;
		h2 { color: $sunpri;}
	}
	h1{
		color: #FDF6E8;
	}
	.btn {
		color: $sunpri;
		border-color: $sunsec;
	}
}